@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #111;
  --bs-body-color-rgb: 17, 17, 17;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(17, 17, 17, 0.75);
  --bs-secondary-color-rgb: 17, 17, 17;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(17, 17, 17, 0.5);
  --bs-tertiary-color-rgb: 17, 17, 17;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #111;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.1875em;
  color: var(--bs-highlight-color);
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  /* Generated by BGjar https://bgjar.com/colored-patterns */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1280' preserveAspectRatio='none' viewBox='0 0 1440 1280'%3e%3cg mask='url(%26quot%3b%23SvgjsMask7854%26quot%3b)' fill='none'%3e%3crect width='1440' height='1280' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3crect width='468.52' height='468.52' clip-path='url(%26quot%3b%23SvgjsClipPath7855%26quot%3b)' x='473.57' y='680.33' fill='url(%26quot%3b%23SvgjsPattern7856%26quot%3b)' transform='rotate(138.67%2c 707.83%2c 914.59)'%3e%3c/rect%3e%3cpath d='M393.04 106.29a5.6 5.6 0 1 0 3.62-10.6 5.6 5.6 0 1 0-3.62 10.6zM398.21 91.14a5.6 5.6 0 1 0 3.61-10.6 5.6 5.6 0 1 0-3.61 10.6zM403.37 76a5.6 5.6 0 1 0 3.62-10.6 5.6 5.6 0 1 0-3.62 10.6zM408.54 60.85a5.6 5.6 0 1 0 3.61-10.6 5.6 5.6 0 1 0-3.61 10.6zM397.86 141.74a5.6 5.6 0 1 0 3.62-10.6 5.6 5.6 0 1 0-3.62 10.6zM403.02 126.59a5.6 5.6 0 1 0 3.62-10.6 5.6 5.6 0 1 0-3.62 10.6zM408.19 111.45a5.6 5.6 0 1 0 3.61-10.6 5.6 5.6 0 1 0-3.61 10.6zM413.35 96.31a5.6 5.6 0 1 0 3.62-10.6 5.6 5.6 0 1 0-3.62 10.6z' stroke='rgba(125%2c 64%2c 231%2c 1)' stroke-width='1.24' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M841.15 274.12L852.27 267.76 860.91 277.21 872.03 270.85 880.67 280.3 891.79 273.95 900.43 283.39' stroke='rgba(182%2c 182%2c 182%2c 1)' stroke-width='1.37' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M1260.59 1063.52L1257.5 1051.09 1268.95 1045.35 1265.86 1032.92 1277.3 1027.17 1274.21 1014.75 1285.66 1009M1267.86 1066.86L1264.77 1054.43 1276.22 1048.69 1273.12 1036.26 1284.57 1030.52 1281.48 1018.09 1292.92 1012.34' stroke='rgba(217%2c 185%2c 255%2c 1)' stroke-width='2.06' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M515.15 824.93a5.6 5.6 0 1 0-11.02-2.04 5.6 5.6 0 1 0 11.02 2.04zM499.41 822.02a5.6 5.6 0 1 0-11.01-2.03 5.6 5.6 0 1 0 11.01 2.03zM483.68 819.12a5.6 5.6 0 1 0-11.01-2.03 5.6 5.6 0 1 0 11.01 2.03zM467.95 816.22a5.6 5.6 0 1 0-11.02-2.03 5.6 5.6 0 1 0 11.02 2.03zM549.52 815a5.6 5.6 0 1 0-11.01-2.04 5.6 5.6 0 1 0 11.01 2.04zM533.79 812.09a5.6 5.6 0 1 0-11.02-2.03 5.6 5.6 0 1 0 11.02 2.03zM518.05 809.19a5.6 5.6 0 1 0-11.01-2.03 5.6 5.6 0 1 0 11.01 2.03zM502.32 806.29a5.6 5.6 0 1 0-11.02-2.03 5.6 5.6 0 1 0 11.02 2.03zM583.89 805.06a5.6 5.6 0 1 0-11.01-2.03 5.6 5.6 0 1 0 11.01 2.03zM568.16 802.16a5.6 5.6 0 1 0-11.02-2.03 5.6 5.6 0 1 0 11.02 2.03zM552.42 799.26a5.6 5.6 0 1 0-11.01-2.03 5.6 5.6 0 1 0 11.01 2.03zM536.69 796.36a5.6 5.6 0 1 0-11.02-2.03 5.6 5.6 0 1 0 11.02 2.03z' stroke='rgba(182%2c 182%2c 182%2c 1)' stroke-width='2.37' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M620.73 635.74L619.67 648.5 606.99 650.27 605.93 663.03 593.24 664.8 592.18 677.56 579.5 679.33M614.92 630.24L613.86 643 601.18 644.77 600.12 657.53 587.43 659.3 586.37 672.06 573.69 673.83M609.11 624.74L608.05 637.51 595.37 639.27 594.3 652.03 581.62 653.8 580.56 666.56 567.88 668.33' stroke='rgba(125%2c 64%2c 231%2c 1)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask7854'%3e%3crect width='1440' height='1280' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='13.78' height='13.78' patternUnits='userSpaceOnUse' id='SvgjsPattern7856'%3e%3cpath d='M0 13.78L6.89 0L13.78 13.78' stroke='rgba(217%2c 185%2c 255%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7855'%3e%3ccircle r='117.13' cx='707.83' cy='914.59'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  padding: 3px;
  min-height: 100vh;
}

h3, .h3 {
  color: #7d40e7;
}

p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #2a2a2a;
}

p .work {
  color: #7d40e7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

/* Default Box CSS */
.default__box {
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 1%;
  padding: 40px;
  margin: 40px;
  box-shadow: 0px 1px 1px 0px #eeeeee;
}
.default__box h1, .default__box .h1,
.default__box p {
  margin: 20px;
}
.default__box p {
  padding: 20px 0;
}

/* Presentation Box CSS */
.presentation {
  width: 600px;
  height: 100vh;
  align-items: center;
  text-align: center;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  width: 60px;
  height: 100vh;
  padding: 5px;
  transition: all 0.5s ease;
  border-right: 1px solid #eeeeee;
}

.menu {
  height: 49px;
  padding: 5px;
}

.nav {
  align-items: center;
}
.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  flex-direction: row-reverse;
  list-style: none;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  justify-content: center;
}
.nav li {
  padding: 15px;
}
.nav a {
  color: #3a3a3a;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  float: right;
  height: 100%;
  transition: 0.4s;
}
.nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #7d40e7;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav a:hover:after {
  width: 100%;
  left: 0;
}
.nav .active {
  color: #7d40e7;
  font-weight: 600;
}

/* Social media icons CSS */
.social {
  padding-bottom: 20px;
}

.social a {
  color: #3a3a3a;
  transition: color 0.1s linear;
}

.social .github:hover {
  color: #7d40e7;
}

.social .gitlab:hover {
  color: #fc6d26;
}

.social .spotify:hover {
  color: #1db954;
}

.social .linkedin:hover {
  color: #0091ff;
}

.social .pdf:hover {
  color: #e61f00;
}

.social i {
  margin: 12px 12px;
}

/* Button CSS */
.btn {
  border: 1px solid #7d40e7;
  text-shadow: 1px 1px 1px #7039cf;
  transition: background 0.1s linear;
  background: #7d40e7;
  box-shadow: 0 4px #6433b8;
}
.btn a {
  color: #fff;
}

.btn:hover {
  color: #fff;
  text-shadow: 1px 1px 1px #6433b8;
  background: #6433b8;
  box-shadow: 0 4px #461e8d;
}

/* About me Box CSS */
.about {
  width: 600px;
  height: 100vh;
  align-items: center;
}

/* SKILLS CSS SECTION */
.skills {
  width: 100%;
  height: 100vh;
  align-items: center;
}

.skills .purpleBG {
  width: 90%;
  height: 650px;
  right: auto;
  position: absolute;
  top: auto;
  background-color: #7d40e7;
  left: 0px;
  bottom: 0px;
}

.skills .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills .responsive-container-block.bigContainer {
  padding: 10px 30px;
}

.skills .responsive-container-block.Container {
  max-width: 1320px;
  padding: 0;
  margin: 50px auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.skills .responsive-container-block.imgContainer {
  width: 40%;
  height: 700px;
  position: relative;
  padding: 0;
}

.skills .bigImg {
  height: 660px;
  width: 90%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: auto;
  object-fit: cover;
}

.skills .bullet {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #7d40e7;
  border-right-color: #7d40e7;
  border-bottom-color: #7d40e7;
  border-left-color: #7d40e7;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin: 5px 20px 0 0;
}

.skills .responsive-container-block.textContainer {
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 60px;
}

.skills .text-blk {
  margin: 0;
  padding: 0;
}

.skills .text-blk.heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
}

.skills .textRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}

.skills .textRow.last {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.skills .text-blk.bulletText {
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .skills .purpleBG {
    height: 500px;
    width: 90%;
  }
  .skills .responsive-container-block.imgContainer {
    height: 550px;
  }
  .skills .bigImg {
    width: 80%;
    height: 400px;
  }
  .skills .responsive-container-block.textContainer {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 60px;
  }
  .skills .text-blk.subHeading {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .skills .text-blk.heading {
    font-size: 38px;
    line-height: 45px;
  }
  .skills .responsive-container-block.textContainer {
    padding: 0 0 0 40px;
  }
  .skills .bigImg {
    height: 500px;
    width: 90%;
  }
  .skills .purpleBG {
    height: 500px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .skills .purpleBG {
    right: 2%;
    height: 500px;
  }
  .skills .responsive-container-block.Container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills .responsive-container-block.textContainer {
    width: 100%;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  .skills .responsive-container-block.imgContainer {
    width: 80%;
    height: 600px;
    margin-top: 0px;
    margin-right: 69.7969px;
    margin-bottom: 30px;
    margin-left: 69.7969px;
  }
  .skills .bigImg {
    height: 450px;
  }
  .skills .purpleBG {
    height: 550px;
    width: 90%;
  }
  .skills .bigImg {
    height: 550px;
    width: 90%;
  }
  .skills .responsive-container-block.imgContainer {
    width: 100%;
    max-width: 550px;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 500px) {
  .skills .bigImg {
    height: 380px;
    left: auto;
    width: 90%;
  }
  .skills .purpleBG {
    height: 360px;
    right: 0px;
  }
  .skills .responsive-container-block.imgContainer {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .skills .responsive-container-block.textContainer {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .skills .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .skills .text-blk.heading {
    font-size: 35px;
    line-height: 40px;
  }
  .skills .text-blk.subHeading {
    font-size: 16px;
    line-height: 20px;
  }
  .skills .responsive-container-block.imgContainer {
    height: 400px;
  }
  .skills .text-blk.bulletText {
    font-size: 16px;
    line-height: 20px;
  }
  .skills .bullet {
    margin: 5px 14px 0 0;
  }
}
/* Contact Form Box CSS */
.work {
  width: 100vh;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.work h1, .work .h1 {
  font-size: 36px;
  font-weight: 600;
  color: #2a2a2a;
  margin-bottom: 40px;
}

.work__card {
  padding: 40px;
}

.work__button {
  margin-top: 30px;
}

/* Contact Form Box CSS */
.contact {
  width: 600px;
  height: 100vh;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
