// Colors variables

$main-color: #5da465;
$main-color-dark: #589b60;
$main-color-darker: #407146;
$main-color-darkest: #253328;
$text-color: #111111;
$white-color: #fff;
$gray-color: #eeeeee;
$dark-gray-color: #3a3a3a;
$light-gray-color: #a7a7a7;
$orange-color: #fc6d26;
$green-color: #53cf67;
$blue-color: #0091ff;
$red-color: #e61f00;
