// Colors variables

$main-color: #7d40e7;
$main-color-dark: #7039cf;
$main-color-darker: #6433b8;
$main-color-darkest: #461e8d;
$text-color: #2a2a2a;
$white-color: #fff;
$gray-color: #eeeeee;
$dark-gray-color: #3a3a3a;
$light-gray-color: #a7a7a7;
$orange-color: #fc6d26;
$green-color: #1db954;
$blue-color: #0091ff;
$red-color: #e61f00;
