body {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    background-color: #FFFFFF;
    background-image: linear-gradient(rgba(170, 173, 187, 0.5) 1px, transparent 1px), linear-gradient(#AAADBB 1px, transparent 1px), linear-gradient(90deg, rgba(170, 173, 187, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(170, 173, 187, 0.7) 1px, transparent 1px), linear-gradient(transparent 3px, #FFFFFF 3px, #FFFFFF 58px, transparent 58px), linear-gradient(90deg, rgba(170, 173, 187, 0.7) 3px, transparent 3px, transparent 58px, rgba(170, 173, 187, 0.7) 58px);
    background-size: 15px 15px, 60px 60px, 15px 15px, 60px 60px, 60px 60px, 60px 60px;
}

.presentation{
    background-color: #FFF;
    border: 1px solid #AAADBB; 
    padding-top: 40px; 
    padding-bottom: 40px;
}

.container{
    text-align: center;
}

.img-tumbnail{
   margin: 40px;
}

.social{
    margin: 12px;
}

.social a{
    color:#AAADBB;
    transition: color 0.1s linear;
}

.social .pdf:hover {  color:#E61F00; }
.social .linkedin:hover {  color:#4875B4; }

.social i {
  margin: 12px 12px;
}

p.lead {
  font-size: 28px;
  font-weight: 300;
  color:  2f2f2f;
}

p {
  font-size: 1.11em;
  line-height: 1.5em;
  padding-top: 20px;
}

header .btn {
  border: 2px solid #4875B4;
  color: #FFF;
  transition: background 0.1s linear;
  background:#4875B4;
}

header .btn:hover {
  border: 2px solid #4875B4;
  color:#FFF;
  background:#4875B4;
}


