/* About me Box CSS */
.about {
	display: flex;
	margin: 0 auto;
	padding: 40px;
  align-items: center;
  text-align: justify;
  width: 100%;
	min-height: 75px;
	height: fit-content;
	box-sizing: border-box;

	h1{
		padding: 10px;
	}

	p{
		font-size: $base-font-size;
		color: $text-color;
		padding: 10px;
		margin: 0;
	}

	.purpleBG {
		width: 90%;
		height: 660px;
		right: auto;
		position: absolute;
		top: auto;
		left: 10px;
		bottom: 10px;
		border-radius: .5rem;
		background-color: $main-color;
	}

	.responsive-container-block {
		min-height: 75px;
		height: fit-content;
		width: 100%;
		padding: 10px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.responsive-container-block.bigContainer {
		padding: 10px 30px;
	}

	.responsive-container-block.Container {
		max-width: 1320px;
		padding: 0;
		margin: 30px auto;
		align-items: center;
		flex-direction: row;
		justify-content: center;
	}

	.responsive-container-block.imgContainer {
		width: 80%;
		height: 700px;
		position: relative;
		padding: 0;
	}

	.bigImg {
		height: 660px;
		width: 90%;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: auto;
		object-fit: cover;
		border-radius: .5rem;
	}
}
