/* About me Box CSS */
.about {
	display: flex;
	margin: 40px auto;
  align-items: center;
  text-align: justify;

	h1{
		padding: 10px;
	}

	p{
		font-size: $base-font-size;
		color: $text-color;
		padding: 10px;
		margin: 0;
	}
}
