/* Contact Form Box CSS */
.blog {
	display: flex;
	margin: 40px auto;
  align-items: center;
  text-align: center;
	justify-content: center;

  h1{
    font-size: $base-font-size-large;
    font-weight: $base-font-bold;
    color: $text-color;
    margin-bottom: 40px;
  }

	p{
		font-size: $base-font-size;
		color: $text-color;
	}
}

.blog-card{
  padding: 20px;
}

.btn:hover{
	text-decoration: none;
	border: 1px solid $main-color;
	text-shadow: 1px 1px 1px $main-color-dark;
}
