/* Contact Form Box CSS */
.contact {
	width: 600px;
	height: 100dvh;
	align-items: center;
	text-align: center;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}

	.section {
		display: flex;
		flex-direction: column;
	}
}
