
.sidebar {
  background-color: $white-color;
  position: fixed;
  top: 0;
  left: 0;	
  margin: 0;
  padding: 5px;
  display: block;
  width: 60px;
  height: 100vh;
  transition: all .5s ease;
  border-right: 1px solid $gray-color;
}

.nav{
  height: 35%;
  align-items: center;

  ul {
    display: flex;
    position: fixed;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    list-style: none;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    justify-content: center;
  }

  li {
    padding: 15px;
  }

  a {
    color: $dark-gray-color;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    float: right;
    height: 100%;
    transition: .4s;
  }

  a::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $main-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a:hover::after{
    width: 100%;
    left: 0;
  }

  .active {
    color: $main-color;
    font-weight: $base-font-bold;
  }
}
