/* Presentation Box CSS */
.presentation {
	display: flex;
	position: relative;
	margin: 0 auto;
	max-width: 600px;
	padding: 40px;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100dvh;

	p {
		font-size: $base-font-size;
		color: $text-color;
	}

	a {
		color: $main-color;
	}
}

.img__thumbnail {
	margin-bottom: 20px;
}

.button {
	a {
		color: $white-color;
	}
}

/* Social media icons */
.social__icons {
	a {
		color: $dark-gray-color;
		transition: color 0.1s linear;
	}

	i {
		margin: 12px;
	}

	.github__icon:hover {
		color: $main-color;
	}

	.gitlab__icon:hover {
		color: $orange-color;
	}

	.linkedin__icon:hover {
		color: $blue-color;
	}

	.pdf__icon:hover {
		color: $red-color;
	}
}
