/* Presentation Box CSS */
.presentation {
	width: 55dvh;
  height: 100dvh;
  align-items: center;
  text-align: center;

	p{
		font-size: $base-font-size;
		color: $text-color;
	}
	
	a {
		color: $main-color;
	}
}

.img__thumbnail{
	margin-bottom: 20px;
}