/* Presentation Box CSS */
.presentation {
	display: flex;
	margin: 40px auto;
	padding: 40px;
  align-items: center;
  text-align: center;

	p{
		font-size: $base-font-size;
		color: $text-color;
	}
	
	a {
		color: $main-color;
	}
}

.img__thumbnail{
	margin-bottom: 20px;
}

.button {
  a{
    color: $white-color;
  }
}
