/* Contact Form Box CSS */
.work {
  width: 100vh;
  height: 100vh;
  align-items: center;
  text-align: center;

  h1{
    font-size: $base-font-size-large;
    font-weight: $base-font-bold;
    color: $text-color;
    margin-bottom: 40px;
  }

	p{
		font-size: $base-font-size;
		color: $text-color;
	}

	a{
		color: $main-color;
	}
}

.work__card{
  padding: 40px;
}

.work__button{
  margin-top: 30px;
}


@media (max-width: 768px) {	
  .container {
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
  }
}