/* Button CSS */
.btn {
  border: 1px solid $main-color;
  color: $white-color;
  text-shadow: 1px 1px 1px $main-color-dark;
  transition: background 0.1s linear;
  background: $main-color-dark;
  box-shadow: 0 4px $main-color-darker;
}

.btn:hover {
  border-top: 3px solid $main-color-darker;
  color: $white-color;
  text-shadow: 1px 1px 1px $main-color-darker;
  background: $main-color-dark;
  box-shadow: 0 1px $main-color-darker;
}
