.menu {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    padding: 20px 0;
    justify-content: center;
    transition: all .5s ease;

    ul {
      display: flex;
      position: fixed;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: left top;
      width: 80vh;
      align-items: center;
    }

    li {
      display: flex;
      position: relative;
      flex-direction: row-reverse;
      padding: 15px;
    }

    a {
      color: $text-color;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
      position: relative;
    }

    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $main-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    a:hover:after{
      width: 100%;
      left: 0;
    }
  }
}
