
/* Presentation Box CSS */
.presentation {
  width: 100vh;
  height: 100vh;
  align-items: center;
}

.profile__card{
  width: 600px;
  text-align: center;
  background-color: $white-color;
  border: 1px solid $gray-color;
  border-radius: 2%;
  padding: 40px;

  .profile__presentation{
    margin: 40px;
    text-decoration: dashed;

    h1{
      margin: 20px;
    }

    p{
      padding: 0;
      margin: 20px;
    }
  }

}