/* Social media icons CSS */
.social {
  padding-bottom: 20px;
}

.social a {
  color: $dark-gray-color;
  transition: color 0.1s linear;
}

.social .github:hover {
  color: $main-color;
}
.social .gitlab:hover {
  color: $orange-color;
}
.social .spotify:hover {
  color: $green-color;
}
.social .linkedin:hover {
  color: $blue-color;
}
.social .pdf:hover {
  color: $red-color;
}

.social i {
  margin: 12px 12px;
}
