// Colors variables

$main-color: #7d40e7;
$main-color-dark: #7039cf;
$main-color-darker: #6433b8;
$text-color: #121212;
$white-color: #fff;
$orange-color: #fc6d26;
$green-color: #1db954;
$blue-color: #0091ff;
$red-color: #e61f00;
